body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color:#e093c9f5;
    background-image: url("Parent's Square\signup\Login\images\logo.jpeg");
  }
  
  /* Login container */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Login form */
  .login-form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: slide-up 0.5s ease-in-out;
    width: 100%;
    max-width: 400px; /* Set a maximum width to prevent form from becoming too wide */
  }
  
  /* Input fields */
  .input-field {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-field input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button */
  #login-btn {
    display: block;
    width: 95%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  #login-btn:hover {
    background-color: #0056b3;
  }
  
  /* Animations */
  @keyframes slide-up {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }